### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [51]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [52]:
totalPlayer =pd.DataFrame([{"Total Players":purchase_data["SN"].nunique()}])
totalPlayer

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:
purchasingAnalysis =pd.DataFrame([{"Number of Unique Items":purchase_data["Item Name"].nunique(),
                                   "Average Price":purchase_data["Price"].mean(),
                                   "Number of Purchases": len(purchase_data),
                                   "Total Revenue": purchase_data["Price"].sum()
                                   }])
purchasingAnalysis["Average Price"] = purchasingAnalysis["Average Price"].map('${:,.2f}'.format)
purchasingAnalysis["Total Revenue"] = purchasingAnalysis["Total Revenue"].map('${:,.2f}'.format)
purchasingAnalysis = purchasingAnalysis[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
purchasingAnalysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [54]:
genderGroupBy = purchase_data.groupby(["Gender"])
genderAnalysis = pd.DataFrame(genderGroupBy["SN"].nunique())

totalPlayerCount = purchase_data["SN"].nunique()
genderAnalysis["Percentage of Players"] = genderAnalysis["SN"]/totalPlayerCount*100
genderAnalysis["Percentage of Players"] = genderAnalysis["Percentage of Players"].map('{:,.2f}%'.format)
genderAnalysis

                        SN Percentage of Players
Gender
Female                  81                14.06%
Male                   484                84.03%
Other / Non-Disclosed   11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [70]:
genderPurchasingAnalysis = pd.DataFrame(genderGroupBy["SN"].count())

genderPurchasingAnalysis["Avg Purchase Price"] = genderGroupBy["Price"].mean()
genderPurchasingAnalysis["Avg Purchase Price"] = genderPurchasingAnalysis["Avg Purchase Price"].map('${:,.2f}'.format)
genderPurchasingAnalysis["Avg Purchase Price Per Person"] = genderGroupBy["Price"].sum()/genderGroupBy["SN"].nunique()
genderPurchasingAnalysis["Avg Purchase Price Per Person"] = genderPurchasingAnalysis["Avg Purchase Price Per Person"].map('${:,.2f}'.format)
genderPurchasingAnalysis.rename(columns={"SN":"Total Count"},inplace=True)
genderPurchasingAnalysis

,Total Count,Avg Purchase Price,Avg Purchase Price Per Person
Gender,,,
Female,113,$3.20,$4.47
Male,652,$3.02,$4.07
Other / Non-Disclosed,15,$3.35,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [58]:
bins = [0,9,14,19,24,29,34,39,100]
bins_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data2 = purchase_data
purchase_data2["Age Category"] = pd.cut(purchase_data["Age"], bins, labels=bins_names)
ageGroupBy = purchase_data2.groupby("Age Category")

ageDemographics = pd.DataFrame(ageGroupBy["SN"].nunique())
ageDemographics["Percentage By Players"] = ageDemographics["SN"]/totalPlayerCount*100
ageDemographics["Percentage By Players"] = ageDemographics["Percentage By Players"].map('{:,.2f}%'.format)
ageDemographics.rename(columns={"SN":"Total Count"},inplace=True)
ageDemographics

              Total Count Percentage By Players
Age Category
<10                    17                 2.95%
10-14                  22                 3.82%
15-19                 107                18.58%
20-24                 258                44.79%
25-29                  77                13.37%
30-34                  52                 9.03%
35-39                  31                 5.38%
40+                    12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [71]:
purchasingAnalysisByAge = pd.DataFrame(ageGroupBy["SN"].count())
purchasingAnalysisByAge.rename(columns={"SN":"Purchase Count"},inplace=True)
purchasingAnalysisByAge["Average Purchase Price"] = ageGroupBy["Price"].mean().map('${:,.2f}'.format)
purchasingAnalysisByAge["Total Purchase Value"] = ageGroupBy["Price"].sum().map('${:,.2f}'.format)
purchasingAnalysisByAge["Avg Total Purchase Per Person"] = (ageGroupBy["Price"].sum()/
                                                            ageGroupBy["SN"].nunique()).map('${:,.2f}'.format)
purchasingAnalysisByAge

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Category,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [107]:
spenderGroupBy = purchase_data.groupby("SN")
topSpender = pd.DataFrame(spenderGroupBy["Price"].sum())
topSpender.rename(columns={"Price":"Total Purchase Value"},inplace=True)
topSpender["Purchase Count"] = spenderGroupBy["SN"].count()
topSpender["Avg Purchase Price"] = spenderGroupBy["Price"].mean().map('${:,.2f}'.format)
topSpender = topSpender.sort_values('Total Purchase Value',ascending=False)
top5Spender = topSpender.iloc[:5]
top5Spender = top5Spender[["Purchase Count", "Avg Purchase Price", "Total Purchase Value"]]
top5Spender["Total Purchase Value"] = top5Spender["Total Purchase Value"].map('${:,.2f}'.format)
top5Spender

             Purchase Count Avg Purchase Price Total Purchase Value
SN
Lisosia93                 5              $3.79               $18.96
Idastidru52               4              $3.86               $15.45
Chamjask73                3              $4.61               $13.83
Iral74                    4              $3.40               $13.62
Iskadarya95               3              $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [145]:
itemAnalysis = purchase_data.groupby(["Item ID", "Item Name", "Price"])
popularityAnalysis = pd.DataFrame(itemAnalysis["SN"].count())
popularityAnalysis.rename(columns={"SN":"Purchase Count"}, inplace=True)
popularityAnalysis["Total Purchase Value"] = itemAnalysis["Price"].sum().map('${:,.2f}'.format)
popularityAnalysis= popularityAnalysis.sort_values('Purchase Count', ascending=False)
topItem = popularityAnalysis.iloc[:5]
topItem

,,,Purchase Count,Total Purchase Value
Item ID,Item Name,Price,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,$50.76
145,Fiery Glass Crusader,4.58,9,$41.22
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,$31.77
82,Nirvana,4.90,9,$44.10
19,"Pursuit, Cudgel of Necromancy",1.02,8,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [159]:
popularityAnalysis2 = pd.DataFrame(itemAnalysis["Price"].sum())
popularityAnalysis2.rename(columns={"Price":"Total Purchase Value"}, inplace=True)
popularityAnalysis2["Purchase Count"] = itemAnalysis["SN"].count()
popularityAnalysis2= popularityAnalysis2.sort_values('Total Purchase Value', ascending=False)
popularityAnalysis2["Total Purchase Value"] = popularityAnalysis2["Total Purchase Value"].map('${:,.2f}'.format)
topItem2 = popularityAnalysis2.iloc[:5]
topItem2

,,,Total Purchase Value,Purchase Count
Item ID,Item Name,Price,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,$50.76,12
82,Nirvana,4.90,$44.10,9
145,Fiery Glass Crusader,4.58,$41.22,9
92,Final Critic,4.88,$39.04,8
103,Singed Scalpel,4.35,$34.80,8